<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect to 'public' folder
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1 [L,NC]

    # Send Requests To Front Controller
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ public/index.php [L]
    php_value error_reporting E_ALL
</IfModule>
